

.container{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed white;
    padding-left: 30px;
    border-radius: 10%;
}

.heading{
    font-size: 40px;
}

.time{
    font-size: 20px;
    text-align: center;
}

.weather{
    min-width: 100px;
    min-height: 100px;
}

.table{
    display: flex;
    align-items: center;
}

.table{
    margin-right: 70px;
}

table tr,
table td{
    padding: 8px;
}

.wi {
    font-size: 100px;
}